
	<div class="container-fluid" >
		<div class="container">
			<h2 class="text-center" id="title">Scrublists</h2>

 			<hr>
			<div class="row ">
				<div class="text-card col-md-4 col-md-offset-4">

						<fieldset>
							<p class="text-uppercase pull-center"> SIGN UP.</p>
 							<div class="form-group">
								<input type="text" name="fname" id="fname" class="form-control input-lg" placeholder="FirstName" [(ngModel)]="data.FirstName">
							</div>
              <div class="form-group">
								<input type="text" name="lname" id="lname" class="form-control input-lg" placeholder="LastName" [(ngModel)]="data.LastName">
							</div>
							<div class="form-group">
								<input type="email" name="email" id="email" class="form-control input-lg" placeholder="Email Address" [(ngModel)]="data.Email">
							</div>
							<div class="form-group">
								<input type="password" name="password" id="password" class="form-control input-lg" placeholder="Password" [(ngModel)]="data.Password">
							</div>
								<div class="form-group">
								<input type="password" name="password2" id="password2" class="form-control input-lg" placeholder="Confirm Password" [(ngModel)]="data.ConfirmPassword">
							</div>
							<div class="form-check">
								<label class="form-check-label">
								  <input type="checkbox" class="form-check-input">
								  By Clicking register you're agree to our policy & terms
								</label>
							  </div>
 							<div>
 									  <input type="submit" class="btn btn-lg btn-primary" (click)="SignUp()"  value="SignUp">
 							</div>
						</fieldset>

				</div>

				<div class="col-md-2">
					<!-------null------>
				</div>


			</div>
		</div>
